; vi: set ft=dosini:
[profile default]

; Parameters
;
; gentoo-build-security-group
;   Optional
;   The security group to use. If this parameter is not set then 'gentoo-build'
;   is used.
;
; gentoo-build-use-instance
;   Optional
;   An ec2 instance to use as the build machine. If this is not set then a
;   new instance of type gentoo-build-instance-type is created.
;
; gentoo-build-instance-type
;   Required if gentoo-build-use-instance is not set
;   The instance type to create if gentoo-build-use-instance is not set.
;
; gentoo-build-key-name
;   Required
;   The name to use for the ec2 key name
;
; gentoo-build-public-keyfile
;   Required if gentoo-build-use-instance is not set
;
; gentoo-build-private-keyfile
;   Required
;
; gentoo-build-shutdown-after-build = false
;   Optional
